{deps, [
    {jsx, "3.1.0"},
    {cowboy, "2.9.0"},
    {docker, {git, "https://github.com/ates/docker.git", {tag, "v0.0.7"}}}
]}.

{shell, [
    {apps, [orc]}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info]}
    ]},
    {test, [
        {erl_opts, [debug_info, warnings_as_errors]},
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.

{relx, [
    {release, {orc, semver}, [orc]},
    {dev_mode, false},
    {include_erts, true},
    {include_src, false},

    {extended_start_script, true},

    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {overlay, [
        {copy, "upgrade.sh", "bin/"}
    ]}
]}.

{xref_checks,[
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{provider_hooks, [
    {post, [
        {compile, xref}
    ]}
]}.
